<section class="relative bg-gradient-to-b from-parkingBlue-50 to-white">
  <div class="container mx-auto px-4 py-20 lg:py-32">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      <div class="space-y-8">
        <h1 class="text-4xl lg:text-6xl font-bold text-gray-900">
          Réservez votre place de parking en quelques clics
        </h1>
        <p class="text-xl text-gray-600">
          Simplifiez votre stationnement avec notre service de réservation en ligne.
          Plus de stress, plus d'attente, juste une place garantie.
        </p>
        <div class="flex flex-col sm:flex-row gap-4">
          <a routerLink="/auth/register" class="bg-parkingBlue-100 rounded-lg px-3 py-2 transition-colors duration-200 text-parkingBlue-900 cursor-pointer hover:bg-parkingBlue-400 hover:text-parkingBlue-50 hover:border-0">
            Commencer maintenant
          </a>
          <a routerLink="/about" class="bg-parkingBlue-900 rounded-lg px-3 py-2 transition-colors duration-200 text-parkingBlue-50 cursor-pointer hover:bg-parkingBlue-100 hover:text-parkingBlue-900 hover:border-0">
            En savoir plus
          </a>
        </div>
      </div>
      <div class="relative">
        <img src="./assets/car-parking.jpg" alt="Parking Illustration" class="rounded-lg shadow-xl" />
      </div>
    </div>
  </div>
</section>
